<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stone.tree.web.user.mapper.StoneUserMapper">
    <!-- 结果集 -->
    <resultMap type="com.stone.tree.web.user.bean.StoneUser" id="StoneUserMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="VARCHAR"/>
        <result property="photo" column="photo" jdbcType="VARCHAR"/>
        <result property="enabled" column="enabled" jdbcType="VARCHAR"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        id, mobile, password, nickname, gender, age, email, photo, enabled, remarks, create_date, update_date, del_flag    </sql>

    <!-- 查询单个 -->
    <select id="selectById" resultMap="StoneUserMap">
        select
        <include refid="Base_Column_List" />
        from stone_user
        where id = #{id}
    </select>

    <!-- 分页查询 -->
    <select id="selectPage" resultMap="StoneUserMap">
        select
        <include refid="Base_Column_List" />
        from stone_user
        limit #{start},#{limit}
    </select>

    <!-- 查询全部 -->
    <select id="selectAll" resultMap="StoneUserMap">
        select
        <include refid="Base_Column_List" />
        from stone_user
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectList" resultMap="StoneUserMap">
        select
        <include refid="Base_Column_List" />
        from stone_user
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="mobile != null and mobile != ''">
                and mobile = #{mobile}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="nickname != null and nickname != ''">
                and nickname = #{nickname}
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
            <if test="age != null and age != ''">
                and age = #{age}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="photo != null and photo != ''">
                and photo = #{photo}
            </if>
            <if test="enabled != null and enabled != ''">
                and enabled = #{enabled}
            </if>
            <if test="remarks != null and remarks != ''">
                and remarks = #{remarks}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate}
            </if>
            <if test="delFlag != null and delFlag != ''">
                and del_flag = #{delFlag}
            </if>
        </where>
    </select>

    <!-- 新增所有列 -->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into stone_user(id, mobile, password, nickname, gender, age, email, photo, enabled, remarks, create_date, update_date, del_flag)
        values ( #{id}, #{mobile}, #{password}, #{nickname}, #{gender}, #{age}, #{email}, #{photo}, #{enabled}, #{remarks}, #{createDate}, #{updateDate}, #{delFlag})
    </insert>

    <!-- 批量新增 -->
    <insert id="batchInsert">
        insert into stone_user(id, mobile, password, nickname, gender, age, email, photo, enabled, remarks, create_date, update_date, del_flag)
        values
        <foreach collection="stoneUsers" item="item" index="index" separator=",">
            (
            #{item.id},             #{item.mobile},             #{item.password},             #{item.nickname},             #{item.gender},             #{item.age},             #{item.email},             #{item.photo},             #{item.enabled},             #{item.remarks},             #{item.createDate},             #{item.updateDate},             #{item.delFlag}         )
        </foreach>
    </insert>

    <!-- 通过主键修改数据 -->
    <update id="update">
        update tree.stone_user
        <set>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender},
            </if>
            <if test="age != null and age != ''">
                age = #{age},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="photo != null and photo != ''">
                photo = #{photo},
            </if>
            <if test="enabled != null and enabled != ''">
                enabled = #{enabled},
            </if>
            <if test="remarks != null and remarks != ''">
                remarks = #{remarks},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
            <if test="delFlag != null and delFlag != ''">
                del_flag = #{delFlag},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from stone_user where id = #{id}
    </delete>

    <!-- 总数 -->
    <select id="count" resultType="int">
        select count(*) from stone_user
    </select>

    <!--自定义sql-->
    <!--登录条件查询-->
    <select id="QueryLoginUser" resultMap="StoneUserMap">
        select
        id, mobile, password, nickname, gender, age, photo, enabled, remarks, create_date, update_date, del_flag
        from stone_user
        <where>
            <if test="mobile != null and mobile != ''">
                and  mobile = #{mobile}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
           <!-- <if test="delFlag != null and delFlag != ''">
                and del_flag = #{delFlag}
            </if>-->
        </where>
    </select>
    <select id="QueryUserSelective" resultMap="StoneUserMap">
        select
        id, mobile, password, nickname, gender, age, photo, enabled, remarks, create_date, update_date, del_flag
        from stone_user
        <where>
            <if test="mobile != null and mobile != ''">
                and mobile = #{mobile}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="nickname != null and nickname != ''">
                and nickname = #{nickname}
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
            <if test="age != null and age != ''">
                and age = #{age}
            </if>
            <if test="photo != null and photo != ''">
                and photo = #{photo}
            </if>
            <if test="enabled != null and enabled != ''">
                and enabled = #{enabled}
            </if>
            <if test="remarks != null and remarks != ''">
                and remarks = #{remarks}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate}
            </if>
            <if test="delFlag != null and delFlag != ''">
                and del_flag = #{delFlag}
            </if>
        </where>
    </select>
    <!--必填项新增数据-->
    <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true">
        insert into stone_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="mobile != null and mobile != ''">
                mobile,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="nickname != null and nickname != ''">
                nickname,
            </if>
            <if test="gender != null and gender != ''">
                gender,
            </if>
            <if test="age != null and age != ''">
                age,
            </if>
            <if test="photo != null and photo != ''">
                photo,
            </if>
            <if test="enabled != null and enabled != ''">
                enabled,
            </if>
            <if test="remarks != null and remarks != ''">
                remarks,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="delFlag != null and delFlag != ''">
                del_flag,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''">
                #{id},
            </if>
            <if test="mobile != null and mobile != ''">
                #{mobile},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="nickname != null and nickname != ''">
                #{nickname},
            </if>
            <if test="gender != null and gender != ''">
                #{gender},
            </if>
            <if test="age != null and age != ''">
                #{age},
            </if>
            <if test="photo != null and photo != ''">
                #{photo},
            </if>
            <if test="enabled != null and enabled != ''">
                #{enabled},
            </if>
            <if test="remarks != null and remarks != ''">
                #{remarks},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
            <if test="delFlag != null and delFlag != ''">
                #{delFlag},
            </if>
        </trim>
    </insert>
</mapper>